@marina:rgb(63,81,181);
@gray: #eeeeee;

body{
	background-color:white;
}

.user-card{
	& md-divider{
		margin:.3em 0;
	}
	& img{
		padding:0 .5em;
		display: block;
		max-width: 100%;
		height:auto;
		max-height:70px;
	}
}

.discussion-panel{
	max-height:400px;
	height: 100%;
    overflow: auto;

	& > div{
		min-height: 100%;
		display:flex;
		flex-direction:column;
		flex-wrap: nowrap;
		justify-content:flex-end;

		& .message-wrapper{
			margin:.5em;
			&.fade.ng-enter {
			  	transition:0.5s linear all;
				opacity:0;
			}

			&.fade.ng-enter.ng-enter-active {
				opacity:1;
			}
		}

		& .md-caption{
			color:@marina;
		}
	}

}

